{% extends 'base.html' %}
{% load static %}
{% block title %}Categorias{% endblock %}
{% block content %}
<section>
    {% for post in category.get_posts.all %}
    <div class="container mt-5">
        <div class="row">
            <div class="card col" style="width: 18rem;">
                <img class="mt-3 card-img-top rounded img-fluid" src="{{post.image.url}}" width="500px" height="500" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <span>
                        <p class="card-text text-primary" style="font-family: 'Lora';">POR {{post.author}} | {{post.published|date:"SHORT_DATE_FORMAT"}} |
                            {% for category in post.categories.all %}
                                <a href="{% url 'category' category.id %}" class="link">{{category.name}}</a>
                            {% endfor %}
                        </p>
                        <p class="card-text" style="font-family: 'Lora';">{{post.content|striptags|linebreaks}}</p>
                    </span>
                </div>
              </div>
        </div>
        <div>
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}