{% extends 'base.html' %}
{% load static %}
{% block title %}Cortes{% endblock %}
{% block content %}
  <!--Inicio cortes-->
<section>
  <h1 class="text-center mt-5" style="font-weight: 800; font-family: 'Lora';">Cortes PeluquerÍa DG</h1>
  <div class="container mt-5">
    <div class="row m-auto">
      <div class="col m-auto">
        <img src="{% static 'core/img/clasico.jpg' %}" class="img-fluid align-middle rounded-circle" alt="imagen">
      </div>
      <div class="col m-auto">
        <h1 style="font-family: 'Lora'; font-weight: 800;">Clásicos</h1>
        <span class=" d-inline-block " style="line-height: 30px; font-family: 'Lora';">
          En DG peluqueria trabajamos lo que en pocas palabras se puede denominar arquitectura del Corte, combinamos diferentes métodos para conseguir el mejor resultado con eficacia y rapidez, a continuación hacemos incapie en algunos de los servicios que podrás encontrar a tu disposición si nos visitas
        </span>
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row m-auto">
      <div class="col m-3">
        <h1 style="font-family: 'Lora'; font-weight: 800;">Pelo largo</h1>
        <p class="mt-2 d-inline-block" style="line-height: 30px; font-family: 'Lora';">
          Un estilo en el que con nuestro metodo conseguimos crear una sensación de movimiento en el cabello, creando una textura que destaca mucho en el hombre actual, pudiendo conseguir un estilo más desenfadado o más formal.
        </p>
      </div>
      <div class="col m-auto">
        <img src="{% static 'core/img/pelolargo.jpg' %}" class="img-fluid align-middle rounded-circle" height="300px" width="300px" alt="img">
      </div>
    </div>
  </div>

  <div class="container mt-5">
    <div class="row m-auto">
      <div class="col">
        <img src="{% static 'core/img/degradado.jpg' %}" class="img-fluid align-middle rounded-circle" alt="img">
      </div>
      <div class="col m-auto">
        <h1 style="font-family: 'Lora'; font-weight: 800;">Degradados</h1>
          <p class="mt-2 d-inline-block" style="line-height: 30px; font-family: 'Lora';">
            Como la palabra indica, creamos una degradación del color de una zona a a otra de nuestro cabello, pudiendo esta ser, más marcada, o más difuminada
          </p>
        </div>
      </div>
  </div>
  
  </div>
    <div class="container mt-5">
      <div class="row m-auto">
        <div class="col m-3">
          <h1 style="font-family: 'Lora'; font-weight: 800;">Cortes <br> Tendencia</h1>
          <p class="mt-2 d-inline-block" style="line-height: 30px; font-family: 'Lora';">
            Nos adaptamos a lo que nos pidas, si tienes alguna referencia y quieres innovar, no lo dudes, somos tu centro de referencia
          </p>
        </div>
        <div class="col m-auto">
          <img src="{% static 'core/img/niños.jpg' %}" class="img-fluid align-middle rounded-circle" height="300px" width="300px" alt="img">
        </div>
      </div>

    <div class="container mt-5">
      <div class="row">
        <div class="col m-auto">
          <img src="{% static 'core/img/barba.jpg' %}" class="img-fluid align-middle rounded-circle" alt="img">
        </div>
        <div class="col m-auto">
          <h1 style="font-family: 'Lora'; font-weight: 800;">Arreglos, Barbas y<br> Afeitados</h1>
          <p class="mt-2 d-inline-block" style="line-height: 30px; font-family: 'Lora';">
            Podrás encontrar diferentes tipos, barba Simple y Premium, en una se realiza una descarga de volumen y se marcan los contornos, simplemente, y la otra modalidad esta pensada para barbas más largas, con la necesidad de crear formas y volumenes, además de incluir un ritual y perfilados con cuchilla
          </p>
        </div>
      </div>
    </div>
      

    <div class="container mt-5">
      <div class="m-auto text-center">
        <img src="{% static 'core/img/imagen.jpg' %}" class="img-fluid align-middle rounded-circle" width="100px" height="100px" alt="img">
      </div>
      <div class="text-center">
        <p class="mt-auto d-inline-block" style="font-family: 'Lora';">
          En todas nuestras técnicas utilizamos el visagimo para estudiar tu rostro y <br> forma craneal para aconsejarte y que puedas sacarle todo el partido a tu <br> imagen.
        </p>
      </div>
    </div> 
      

      
</section>
{% endblock %}